.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #2ecc71;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);

  div {
    display: flex;
    align-items: center;
  }
}

.logo {
  margin-right: 72px;
  font-size: 24px;
  color: #fff;
}

.nav {
  display: flex;

  li:first-child {
    margin-right: 32px;
  }

  a {
    color: #fff;
  }
}

.dropdown {
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  .material-icons {
    position: relative;
    top: 2px;
  }
}