<div 
  class="recipe card"
  *ngIf='recipe'>
  <h2 class="recipe-name">{{ recipe.name }}</h2>
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-image">
  <div class="recipe-manage dropdown" appDropdown>
    <button class="recipe-manage-button btn">Manage Recipe <i class="material-icons">keyboard_arrow_down</i></button>
    <ul class="dropdown-menu">
      <li (click)='onAddToShoppingList()'>To Shopping List</li>
      <li>
        <a href="#">Edit Recipe</a>
      </li>
      <li>
        <a href="#">Delete Recipe</a>
      </li>
    </ul>
  </div>
  <p class="recipe-description">{{ recipe.description }}</p>
  <div class="recipe-ingredients">Ingredients:</div>
  <ul>
     <li *ngFor='let ingredient of recipe.ingredients'>
       {{ ingredient.name }} - {{ ingredient.amount }}
      </li> 
  </ul>
</div>

<div *ngIf='!recipe'>
  <h3>Selected Recipe</h3>
</div>