<div class="recipe card">
  <h2 class="recipe-name">Recipe name</h2>
  <img src="" alt="" class="recipe-image">
  <div class="recipe-manage">
    <button class="recipe-manage-button btn">Manage Recipe <i class="material-icons">keyboard_arrow_down</i></button>
    <ul class="recipe-manage-actions card">
      <li>
        <a href="#">To Shopping List</a>
      </li>
      <li>
        <a href="#">Edit Recipe</a>
      </li>
      <li>
        <a href="#">Delete Recipe</a>
      </li>
    </ul>
  </div>
  <p class="recipe-description">Description</p>
  <div class="recipe-ingredients">Ingredients</div>
</div>