.recipes {
  display: flex;
  justify-content: space-between;

  &-list {
    max-width: 65%;
    width: 100%;
  }

  &-detail {
    max-width: calc(35% - 32px);
    width: 100%;
    padding-top: 56px;
  }
}