<div class="recipe-add-btn">
  <button class="btn"><i class="material-icons">queue</i>Add New Recipe</button>
</div>

<div class="recipe-card-list">
  <a href="#" class="recipe-card card"
     *ngFor='let recipe of recipesList'>
    <div class="recipe-card-header">
      <img src='{{recipe.imagePath}}' alt="{{ recipe.name }}">
      <h3 class="recipe-card-name">{{ recipe.name }}</h3>
    </div>
    <p class="recipe-card-description">{{ recipe.description }}</p>
  </a>
</div>

<app-recipe-item></app-recipe-item>