.recipe-add-btn {
  margin-bottom: 24px;
}

.recipe-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

app-recipe-item {
  max-width: calc(50% - 16px);
  width: 100%;
  margin-bottom: 32px;
}