<div class="recipe-add-btn">
  <button class="btn"><i class="material-icons">queue</i>New Recipe</button>
</div>

<div class="recipe-card-list">
  <a href="#" class="recipe-card">
    <div class="recipe-card-header">
      <div class="recipe-card-img">
        <img src="http://www.seriouseats.com/images/2015/09/20150914-pressure-cooker-recipes-roundup-09.jpg" alt="">
      </div>
      <h3 class="recipe-card-name">Recipe Name</h3>
    </div>
    <p class="recipe-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quae enim consectetur mollitia eum voluptatem, temporibus veritatis, obcaecati dolores excepturi!</p>
  </a>
</div>